{{!-- profile --}}
<section class="py-10">
    <div class="container text-center mx-auto px-4 md:px-auto md:text-start">
        <h1 class="text-2xl text-violet-800 font-bold">
            Profile
        </h1>

        <div class="flex flex-col py-3 items-center justify-center md:justify-start md:flex-row
         md:space-x-10">
            <div class="flex space-x-2">
                <h1 class="font-bold">Name:</h1>
                <p>{{user_name}}</p>
            </div>
            <div class="flex space-x-2">
                <h1 class="font-bold">Email:</h1>
                <p>{{user_email}}</p>
            </div>
            <div>
                <button class="text-sm text-white bg-gradient-to-r from-violet-800 to-violet-500 px-3 py-1 rounded flex items-center justify-center" type="button" data-modal-toggle="editProfile">
                    <span class="pr-1">Edit</span> <ion-icon name="pencil"></ion-icon>
                </button>
                
            </div>
        </div>
    </div>
</section>


<!-- Edit profile modal -->
<div id="editProfile" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 p-4 w-full md:inset-0 h-modal md:h-full">
    <div class="relative w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-4 rounded-t md:items-start ">
                <h3 class="text-xl font-semibold text-violet-800">
                    Edit name or email
                </h3>
                <button type="button" class="text-violet-800 text-xl hover:bg-violet-800 hover:text-white rounded-full p-1.5 ml-auto inline-flex items-center" data-modal-toggle="editProfile">
                    <ion-icon name="close"></ion-icon>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="px-6 pb-6 space-y-6">
                <form action="/profile/edit/{{user_id}}?_method=PUT" method="POST" class="flex flex-col text-center md:text-left">
                
                    <div class="flex flex-col my-2">
                        <label for="name">
                            Name
                        </label>
                        <input type="text" id="name" name="name" class="rounded border border-gray-300 focus:border-violet-800" value="{{ user_name }}">
                    </div>

                    <div class="flex flex-col my-2">
                        <label for="email">
                            Email
                        </label>
                        <input type="email" id="email" name="email" class="rounded border border-gray-300 focus:border-violet-800" value="{{ user_email }}">
                    </div>
                    
                    <button class="bg-violet-800 rounded-full text-white py-2 mt-4 mb-2">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>





{{!-- My testimonies --}}
<section class="py-10">
    <div class="container mx-auto px-4 md:px-auto">
        <button class="px-3 py-1 my-3 rounded text-white bg-gradient-to-r from-violet-800 to-violet-600" type="button" data-modal-toggle="addTestimony">
            Add a testimony
        </button>
    </div>
</section>

<!-- Add testimony modal -->
<div id="addTestimony" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 p-4 w-full md:inset-0 h-modal md:h-full">
    <div class="relative w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-center p-4 rounded-t md:items-start ">
                <h3 class="text-xl font-semibold text-violet-800">
                    Add a testimony
                </h3>
                <button type="button" class="text-violet-800 text-xl hover:bg-violet-800 hover:text-white rounded-full p-1.5 ml-auto inline-flex items-center" data-modal-toggle="addTestimony">
                    <ion-icon name="close"></ion-icon>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="px-6 pb-6 space-y-6">
                <form action="/testimony/add" id="testimonyForm" method="POST" class="flex flex-col text-center md:text-left">
                
                    <div class="flex flex-col my-2">
                        <label for="testimony" class="py-2">
                            Testimony
                        </label>
                        <textarea name="testimony" id="testimony" rows="10" class="rounded border border-gray-300 focus:border-violet-800"></textarea>
                    </div>

                    <div class="flex flex-col my-2">
                        <label for="tag relative">
                            Tags 

                            {{!-- Instruction for tags --}}
                            <div id="info" class="absolute bg-gray-200 p-1 hidden text-xs text-gray-600 bottom-48 rounded md:bottom-44 md:left-20">Tags are attributes of God you have witnessed. e.g: Healer, Merciful, Provider, etc.</div>

                            {{!-- Button to toggle display of info --}}
                            <span onclick="showInfo()" title="Click for more info" class="cursor-pointer text-violet-800 hover:text-violet-600">
                                <ion-icon name="alert-circle-outline" style="pointer-events:none"></ion-icon>
                            </span>
                        </label>
                        <small class="text-violet-800">Separate tags with commas</small>
                        
                        <select name="tags[]" class="tags rounded border border-gray-300 focus:border-violet-800" multiple>
                            <option value="Faithful">Faithful</option>
                            <option value="Gracious">Gracious</option>
                            <option value="Provider">Provider</option>
                        </select>
                        
                    </div>
                    
                    <button class="bg-violet-800 rounded-full text-white py-2 mt-8 mb-2">
                        Add
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


{{!-- My testimonies list --}}
<section class="py-1">
    <div class="container mx-auto px-4 md:px-auto">

        <h1 class="text-2xl text-violet-800 font-bold">
            My testimonies
        </h1>

        <div class="flex items-center justify-center md:justify-start">
            <div class="grid pb-10 gap-4 content-center">
                {{!-- Columns --}}
                <div class="grid-col grid-col--1"></div>
                <div class="grid-col grid-col--2"></div>
                <div class="grid-col grid-col--3"></div>
                {{!-- <div class="grid-col grid-col--4"></div> --}}

                {{!-- Content --}}
                <div class="grid-item">
                    <div class="block bg white border borer-gray-200 shadow p-5 max-w-md">
                        <div class="flex flex-col space-y-5">
                            <div class="flex flex-col">
                                <p class="text-xl"><strong>Jason Kwame Appiatu</strong></p>
                                <small class="text-gray-500">19th November, 2022</small>
                            </div>
                            <p class="text-gray-700">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum voluptatem. Ad vel recusandae praesentium. Eum obcaecati magni quaerat perferendis natus sequi similique dolores dolore, molestiae nesciunt voluptatibus quis velit quod distinctio assumenda quasi accusamus adipisci et repellat ipsum voluptatum at labore praesentium fugiat. Exercitationem, ea ut! Dolorum dolor neque, ducimus incidunt voluptatum et eos? Modi perferendis dignissimos reprehenderit officia quas aliquid vero porro recusandae pariatur incidunt consequatur laboriosam, molestias non optio necessitatibus, quis est, ex quia similique repellat at! Iure laborum corporis, sint, neque temporibus at reprehenderit incidunt aspernatur nam repudiandae consectetur ea qui saepe veritatis quaerat unde architecto, quas animi id labore. Earum libero tempore quibusdam enim, quasi laudantium et id tempora dicta nostrum? Similique aperiam et quo voluptate dolore totam, ab illum libero aliquid aliquam. Assumenda voluptates mollitia dolorem distinctio tenetur facilis eum architecto corporis quo, cupiditate pariatur rem odio deserunt perspiciatis esse sint excepturi accusantium tempore officiis. Recusandae ex, commodi odio libero tempora deleniti quae earum corrupti est officiis omnis consequatur facere consectetur mollitia porro ad quidem! Eaque aspernatur beatae enim iure molestiae quam quos nihil ipsum temporibus, commodi assumenda impedit cumque eveniet atque voluptatem doloribus? Ducimus impedit harum nostrum vero esse dolore doloribus consequatur ex?
                            </p>
                            <div class="flex flex-row space-x-3">
                                <small>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Healing</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Provision</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Speed</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Healing</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Provision</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Speed</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Healing</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Provision</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Speed</button>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="block bg white border borer-gray-200 shadow p-5 max-w-md">
                        <div class="flex flex-col space-y-5">
                            <div class="flex flex-col">
                                <p class="text-xl"><strong>Jason Kwame Appiatu</strong></p>
                                <small class="text-gray-500">19th November, 2022</small>
                            </div>
                            <p class="text-gray-700">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum voluptatem. Ad vel recusandae praesentium. Eidem! Eaque aspernatur beatae enim iure molestiae quam quos nihil ipsum temporibus, commodi assumenda impedit cumque eveniet atque voluptatem doloribus? Ducimus impedit harum nostrum vero esse dolore doloribus consequatur ex?
                            </p>
                            <div class="flex flex-row space-x-3">
                                <small>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Healing</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Provision</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Speed</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Healing</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Provision</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Speed</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Healing</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Provision</button>
                                    <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">Speed</button>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('.tags').select2();
    });
    
    function showInfo(){
        const info = document.querySelector('#info')
        info.classList.toggle('hidden')
    }
</script>