{{!-- Search bar --}}
<section class="py-10">
    <div class="container mx-auto px-4 md:px-auto flex justify-center items-center">
        <form action="/search" method="POST" class="flex items-center w-full md:w-3/5">   
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <ion-icon class="w-5 h-5 text-gray-500" name="search-outline"></ion-icon>
                    
                </div>
                <input type="text" id="simple-search" name="query" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:border-violet-500 block w-full pl-10 p-2.5" placeholder="Search by keyword..." required>
            </div>
            <button type="submit" class="py-2 px-6 ml-2 text-sm font-medium text-white bg-violet-800 rounded-full flex space-x-2">
                <ion-icon class="w-5 h-5" name="search-outline"></ion-icon>
                <span class="hidden sm:block">Search</span>
                <span class="sr-only">Search</span>
            </button>
        </form>
    </div>
</section>

{{!-- Looping through testimonies --}}
<section class="py-10">
    <div class="container mx-auto px-4 md:px-auto">

        <h1 class="text-center text-3xl font-bold text-violet-800 md:text-left">
            Testimonies
        </h1>

        {{#if testimonies}}
        <div class="flex items-center justify-center md:justify-start">
            <div class="grid pb-10 gap-4 content-center">
                {{!-- Columns --}}
                <div class="grid-col grid-col--1"></div>
                <div class="grid-col grid-col--2"></div>
                <div class="grid-col grid-col--3"></div>
                {{!-- <div class="grid-col grid-col--4"></div> --}}

            {{#each testimonies}}
                {{!-- Content --}}
                <div class="grid-item">
                    <div class="block bg white border borer-gray-200 shadow p-5 max-w-md">
                        <div class="flex flex-col space-y-5">

                            <div class="flex flex-col relative">
                                
                                <p class="text-xl"><strong>{{ user.name }}</strong></p>
                                <small class="text-gray-500">{{ formatDate createdAt 'Do MMMM YYYY' }}</small>
                            </div>
                            <p class="text-gray-700">
                                {{ testimony }}
                            </p>
                            <div class="flex flex-row space-x-3">
                                <small>
                                    {{#each tags}}
                                        <button class="border border-gray-200 bg-gray-100 px-3 my-1 rounded-full text-gray-500">{{this}}</button>
                                    {{/each}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>


            {{/each}}
            {{!-- Block to display grid well --}}
            <div class="grid-item invisible">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio.
            </div>
            <div class="grid-item invisible">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, vel.
            </div>
        {{else}}
            </div>
        </div>
            <p class="container mx-auto p-4 md:px-auto">No testimonies for the search query.</p>
        {{/if}}
    </div>
</section>